@font-face {
    font-family: 'Tiempos Text';
    src: url('../fonts/TiemposText-Regular.eot');
    src: url('../fonts/TiemposText-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TiemposText-Regular.woff2') format('woff2'),
        url('../fonts/TiemposText-Regular.woff') format('woff'),
        url('../fonts/TiemposText-Regular.ttf') format('truetype'),
        url('../fonts/TiemposText-Regular.svg#TiemposText-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Tiempos Text';
    -webkit-font-smoothing: antialiased;
    color: #282426;
    box-sizing: border-box;
    font-size: 16px;
    letter-spacing: 1px;
}

.vh {
    height: 100vh !important;
}

.sm {
    height: auto !important;
}

.container {
    background-image: url(../img/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

@media (max-width: 650px) {
    .container {
        background-image: none;
        background-color: #D9E6E7;
    }
}

.container .cuerpo {
    max-width: 550px;
    margin: 0 auto;
    padding: 50px;
}

.container .cuerpo .logo.desk {
    max-width: 130px;
    text-align: center;
    padding: 50px 0 100px;
    margin-left: auto;
    margin-right: auto;
}

.container .cuerpo .logo.mov {
    display: none;
}

@media (max-width: 650px) {
    .container .cuerpo .logo.desk {
        display: none;
    }
    .container .cuerpo .logo.mov {
        display: block;
        width: 80px;
        margin: 0 auto;
        padding: 50px 0 100px;
    }
    .container .cuerpo .logo.mov img {
        width: 100%;
    }
}

.container .cuerpo .body.mov {
    display: none;
}

.container .cuerpo .body p {
    font-size: 1.2rem;
    text-align: center;
    line-height: 1.6;
}

@media (max-width: 650px) {
    .container .cuerpo .body p {
        text-align: left;
    }
    .container .cuerpo .body.mov {
        display: block;
    }
    .container .cuerpo .body.desk {
        display: none;
    }
}

.container .cuerpo form {
    text-align: center;
    margin-top: 50px;
    padding-bottom: 150px;
}

.container .cuerpo form input {
    height: 40px;
    padding: 5px 15px;
    box-sizing: border-box;
    outline: none;
    border: solid 1px black;
    border-radius: 0 !important;
    border-style: solid;
    -webkit-appearance: none;
}

.container .cuerpo form input.email {
    max-width: 350px;
    width: 600px;
    border-right: none;
}

@media (max-width: 650px) {
    .container .cuerpo form input.email {
        max-width: 350px;
        width: 200px;
    }
}

@media (max-width: 430px) {
    .container .cuerpo form input.email {
        max-width: 350px;
        width: 100%;
        border-right: solid 1px black;
    }
    .container .cuerpo form input.submit {
        margin-left: 0 !important;
        margin-top: 10px;
        max-width: 350px;
        width: 100%;
    }
}

.container .cuerpo form input.submit {
    margin-left: -5px;
    background-color: #D9E6E7;
}

.container .cuerpo .social {
    width: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    padding-bottom: 50px;
}
.container .cuerpo .social img {
    height: 22px;
}